In [1]:
import pandas as pd # dataframe
import numpy as np # processing data

In [2]:
df = pd.read_excel("linkler.xlsx")

In [3]:
df

  Device Type                            Stats_Access_Link
0      AXO145  <url>https://xcd32112.smart_meter.com</url>
1     |TRU151        <url>http://tXh67.dia_meter.com</url>
2      ZOD231     <url>http://yT5495.smart_meter.com</url>
3      YRT326      <url>https://ret323_TRu.crown.com</url>
4      LWR245      <url>https://luwr3243.celcius.com</url>

In [4]:
a = df["Stats_Access_Link"]

In [5]:
a[0]

'<url>https://xcd32112.smart_meter.com</url>'

In [6]:
for i in range(len(a)):
    a[i] = a[i][13:] 
    a[i] = a[i][:-6]

In [7]:
a

0    xcd32112.smart_meter.com
1          Xh67.dia_meter.com
2       T5495.smart_meter.com
3        ret323_TRu.crown.com
4        luwr3243.celcius.com
Name: Stats_Access_Link, dtype: object

In [11]:
for i in range(len(a)):
    a[i] = a[i].lower()

In [12]:
a

0    xcd32112.smart_meter.com
1          xh67.dia_meter.com
2       t5495.smart_meter.com
3        ret323_tru.crown.com
4        luwr3243.celcius.com
Name: Stats_Access_Link, dtype: object