In [1]:
import pandas as pd # dataframe
import numpy as np # processing data

In [2]:
df = pd.read_csv("country_vaccination_stats.csv")

In [3]:
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

## Answer of Second Question

In [4]:
df['daily_vaccinations'].isnull().values.any()

True

In [5]:
df['daily_vaccinations'] = df['daily_vaccinations'].fillna(0)

In [6]:
df['daily_vaccinations'].isnull().values.any()

False

In [7]:
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 0.0  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V